@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Marcellus&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-1440: 1440px;
  --breakpoint-2xl: 1536px;

  --color-primary: #0AB1FF;
  --color-primary-dark: #00628F;
  --color-primary-light: #47C5FF;
  --color-green: #B8FF48;
  --color-dark-primary: #222222;
  --color-dark-secondary: #232323;
  --color-light-gray-1: #FDFDFD;
  --color-light-gray-2: #F8F8F8;
  --color-gray-text: #707070;
  --color-gray-border: #E2E2E2;
  --color-variant-bg: #D6F2FF;
  --color-youtube-red: #FF0000;

  --font-manrope: 'Manrope', sans-serif;
  --font-marcel: 'Marcellus', serif;
}
 
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply text-[16px] scroll-smooth;
  }
  body {
    @apply bg-white text-gray-text leading-[1.4];
  }
  .zen-container {
    @apply w-full px-[1.125rem] sm:px-8 md:px-12 lg:px-16 xl:px-20 2xl:px-24;
  }
  .extra-padding-container {
    @apply px-0 xl:px-10 1440:px-14 2xl:px-16;
  }
  .swiper-button-next,
  .swiper-button-prev {
    @apply scale-50 md:scale-75 lg:scale-100;
  }

  /* Typography */
  .typo-h1 {
    @apply font-manrope text-[2.875rem] sm:text-[4rem] leading-[1.2] font-medium sm:font-normal;
  }
  .typo-h2 {
    @apply font-manrope text-[2.125rem] sm:text-[3.5rem] leading-[1.4];
  }
  .typo-h3 {
    @apply font-manrope text-[2rem] sm:text-[3rem] leading-[1.25] font-medium sm:font-normal;
  }
  .typo-h4 {
    @apply font-manrope text-[1.5rem] sm:text-[2.25rem] leading-[1.4] font-medium;
  }
  .typo-h5 {
    @apply font-manrope text-[1rem] sm:text-[1.5rem] leading-[1.4] font-medium;
  }
  .typo-h6 {
    @apply font-manrope text-[1rem] sm:text-[1.25rem] leading-[1.4] font-medium;
  }
  .typo-subtitle {
    @apply font-marcel text-[0.75rem] sm:text-[1rem] leading-none tracking-[0.12em];
  }
  .typo-body1 {
    @apply font-manrope text-[1rem] sm:text-[1.125rem] leading-[1.6] font-medium;
  }
  .typo-body2 {
    @apply font-manrope text-[1rem] sm:text-[1rem] leading-[1.6];
  }
  .typo-body3 {
    @apply font-manrope text-[0.875rem] sm:text-[0.875rem] leading-[1.6];
  }
  .typo-quote {
    @apply font-marcel text-[2.25rem] sm:text-[3rem] leading-none;
  }
  .typo-caption1 {
    @apply font-marcel text-[0.75rem] leading-[1.3];
  }
  .typo-caption2 {
    @apply font-marcel text-[0.75rem] leading-[1.4];
  }
  .typo-button {
    @apply font-marcel text-[1rem] leading-none;
  }
  .typo-display1 {
    @apply font-marcel text-[8rem] leading-[1.2];
  }

  .bg-hero {
    background: linear-gradient(90deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://static.eyeconnectglobal.com/hero-bg-1.jpg');
    background-size: cover;
    background-position: center center;
  }
  .bg-outreach {
    background: linear-gradient(90deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('https://static.eyeconnectglobal.com/outreach.jpg');
    background-size: cover;
    background-position: center bottom;
  }
  .bg-story {
    background: linear-gradient(90deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('https://static.eyeconnectglobal.com/story.png');
    background-size: cover;
    background-position: center center;
  }
  .bg-cofounders {
    background: linear-gradient(90deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url('https://static.eyeconnectglobal.com/cofounders.jpg');
    background-size: cover;
    background-position: center center;
  }
  .bg-daniel {
    background: linear-gradient(90deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url('https://static.eyeconnectglobal.com/daniel.jpg');
    background-size: cover;
    background-position: top center;
  }
  .bg-clinton {
    background: linear-gradient(90deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url('https://static.eyeconnectglobal.com/clinton.jpg');
    background-size: cover;
    background-position: top center;
  }
  .bg-interview {
    background: linear-gradient(90deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url('https://static.eyeconnectglobal.com/interview.jpg');
    background-size: cover;
    background-position: center center;
  }
  .bg-beneficiaries {
    background: linear-gradient(90deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url('https://static.eyeconnectglobal.com/beneficiaries.jpg');
    background-size: cover;
    background-position: bottom center;
  }

  /* Gallery Images */
  .bg-gallery-1 {
    background: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://static.eyeconnectglobal.com/gallery/gallery-1.jpg');
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1.5;
  }
  .bg-gallery-2 {
    background: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://static.eyeconnectglobal.com/gallery/gallery-2.jpg');
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1.5;
  }
  .bg-gallery-3 {
    background: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://static.eyeconnectglobal.com/gallery/gallery-3.jpg');
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1.5;
  }
  .bg-gallery-4 {
    background: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://static.eyeconnectglobal.com/gallery/gallery-4.jpg');
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1.5;
  }
  .bg-gallery-5 {
    background: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://static.eyeconnectglobal.com/gallery/gallery-5.jpg');
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1.5;
  }
  .bg-gallery-6 {
    background: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://static.eyeconnectglobal.com/gallery/gallery-6.jpg');
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1.5;
  }
  .bg-gallery-7 {
    background: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://static.eyeconnectglobal.com/gallery/gallery-7.jpg');
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1.5;
  }
  .bg-gallery-8 {
    background: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://static.eyeconnectglobal.com/gallery/gallery-8.jpg');
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1.5;
  }
  .bg-gallery-9 {
    background: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://static.eyeconnectglobal.com/gallery/gallery-9.jpg');
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1.5;
  }
  .bg-gallery-10 {
    background: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://static.eyeconnectglobal.com/gallery/gallery-10.jpg');
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1.5;
  }
  .bg-gallery-11 {
    background: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://static.eyeconnectglobal.com/gallery/gallery-11.jpg');
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1.5;
  }
  .bg-gallery-12 {
    background: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://static.eyeconnectglobal.com/gallery/gallery-12.jpg');
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1.5;
  }
  .bg-gallery-13 {
    background: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://static.eyeconnectglobal.com/gallery/gallery-13.jpg');
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1.5;
  }
  .bg-gallery-14 {
    background: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://static.eyeconnectglobal.com/gallery/gallery-14.jpg');
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1.5;
  }
}

@keyframes gallery-image {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(105%);
  }
}

/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */
